nav{
    background-color: rgb(80, 231, 226);
    color: rgb(30, 55, 138);
}

.menú{
    display: flex;
    align-items: center;
}

.menú li{
    width: 40%;
    list-style: none;
}
.menú a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 20px;
}

.menú a:hover{
    background-color: rgb(114, 206, 198);
    color: ghostwhite;
    border: rgb(0, 0, 0) solid;
    border-radius: 10px;
}

.logo{
    flex-grow: 5;
}

.logo img{
    width: 30%;
}